# Ignore copied/backup files
*.conf.bak
*.sh.bak
* - Copy.conf
* - Copy.sh
*.copy
*copy.conf
*copy.sh
COMMIT_EDITMSG
.history
.DS_Store
.idea/
.vscode/

# Log files
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# dependencies
/node_modules
/.pnp
.pnp.js

# misc
.eslintcache
*.swp
*~
.env
.env.local
.env.development.local
.env.test.local
.env.production.local 